<!DOCTYPE html>
<html>
<head>
  <title>RailsWikinimous</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://use.fontawesome.com/d54a501ccf.js"></script>

  <div class = "navbar">
    <h4 class = align-left>Wikinimous</h4>
    <%= link_to "Add new article", new_article_path, :class => "align-right" %>
  </div>

</head>

<body>
  <%= yield %>
</body>
</html>
